$font-weights: (
  "extra-thin": 200,
  "thiny": 300,
  "thin": 400,
  "medium": 500,
  "normal": 600,
  "bold": 700,
  "bolder": 800,
  "extra-bold": 900,
);

/*font-sizes*/

$head: 96px;
$h1: 59.3px;
$h2: 36.65px;
$h3: 22.65px;
$body: 16px;
$caption: 14px;
$small: 12px;

/*collor palletes*/

$black: #000;
$gray: #4d4d4d;
$vermililion: #cd4631;
$blue: #81adc8;
$champagne: #f7ede8;
$alice-blue: #edf3f7;
