@import "sections/header/statistics.scss";
@import "sections/header/navbar.scss";
@import "sections/header/header.scss";
@import "sections/header/headerAlt.scss";
@import "sections/about/about.scss";
@import "sections/testimonials/testimonials.scss";
@import "sections/features/features.scss";
@import "sections/recentEpisodes/recentEpisodes.scss";
@import "sections/pricing/pricing.scss";
@import "sections/blog/blog.scss";
@import "sections/cta/cta.scss";
@import "sections/footer/footer.scss";
@import "sections/about/aboutHistory.scss";
@import "sections/about/founders.scss";
@import "sections/about/sponsors.scss";
@import "sections/contact/contact.scss";
@import "sections/latestEpisodes/latestEpisodes.scss";

.title {
  @include flex-column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
  &-main {
    @include h1;
    margin-bottom: 20px;
  }

  &-small {
    @include h3;
    color: $gray;
  }
}
