.cta {
  padding: 140px 20px;
  background-color: $alice-blue;
  position: relative;
  background: url("@/assets/media/stock/phone-1.png"),
    url("@/assets/media/stock/phone-2.png");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 40%;
  background-position: 0 280px, 125% 125px;

  @media screen and (max-width: 1200px) {
    background-size: 40%, 45%;
    background-position: 0 380px, 125% 100%;
  }

  @media screen and (max-width: 900px) {
    background-size: 50%, 55%;
    background-position: 0 380px, 160% 100%;
  }

  @media screen and (max-width: 650px) {
    background-image: none;
  }

  &-content {
    @include flex-column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .beta-text {
      color: $vermililion;
      border-radius: 4px;
      border: 1px solid $vermililion;
      padding: 3px 6px;
      margin-bottom: 20px;
    }

    .download-button {
      @include flex-column;

      .download-now {
        text-align: center;
        background: #000000;
        color: #fff;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        padding: 20px 36px;
        border-radius: 8px;
        margin-bottom: 24px;
        &:hover {
          background: #fff;
          color: #000000;
        }
      }

      .platform-icons {
        @include flex-column;

        &-text {
          @include caption;
          margin-bottom: 10px;
          color: $gray;
        }

        &-main {
          @include flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}
